<h2 class="mb-4"><i class="fa-solid fa-layer-group"></i>Categorias</h2>
<input type="text" id="categoria_nombre" placeholder="Ingrese Categoria">
<input type="text" id="categoria_descripcion" placeholder="Descripción">

 <button  onclick="guardarCategorias()">Guardar <i class="fa-solid fa-check ms-1"></i></button>





<hr>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Categoria</th>
            <th>Descripción</th>
            <th>Acciones</th>
           
        </tr>
    </thead>
   <tbody id="tablaCategorias"></tbody>
</table>

<script src="../js/categorias.js"></script>
